  <footer class="footer">
    <a href="#" class="topScroll">

    </a>

    <div class="inner">

      <div class="footerMainCont">
        <h2>KM</h2>
      <p>
        読む人も、書く人も、すべてを考え抜いたデザインを実現。真の使いやすさを追求したWordPressテーマです。
      </p>
      <p>「アフィリエイト」と「SEO」に必要なものは、すべて詰め込みました。売れるサイト作りを確実に後押しします。</p>

      <a href="" class="btn">
        今すぐダウンロード
      </a>
      </div>

      <div class="footerCont">
        <h3>
          CATEGORY
        </h3>
        <ul>
          <li>
            <a href="">KMのエディタ</a>
          </li>
          <li>
            <a href="">KMのデザイン</a>
          </li>
          <li>
            <a href="">KMの特徴</a>
          </li>
          <li>
            <a href="">収益化機能</a>
          </li>
        </ul>
      </div>


      <div class="footerCont">
        <h3>
          ARCHIVES
        </h3>
        <ul>
          <li>
            <a href="">2018年2月</a>
          </li>
          <li>
            <a href="">2018年1月</a>
          </li>
          <li>
            <a href="">2017年12月</a>
          </li>
        </ul>
      </div>


      <div class="footerCont popularPost">
        <h3>
          POPULAR POST
        </h3>
        <ul>
          <li>
            <div class="tag">
              1
            </div>
            <a href="">
              <img src="img/shutterstock_377522251-1280x720.jpg" alt="">
              <p>
                KMはデザインインポートに対応！自分好みのデザインに「着せ替え」できる
              </p>
            </a>
          </li>
          <li>
            <div class="tag">
              2
            </div>
            <a href="">
              <img src="img/shutterstock_377522251-1280x720.jpg" alt="">
              <p>
                KMはデザインインポートに対応！自分好みのデザインに「着せ替え」できる
              </p>
            </a>
          </li>
          <li>
            <div class="tag">
              3
            </div>
            <a href="">
              <img src="img/shutterstock_377522251-1280x720.jpg" alt="">
              <p>
                KMはデザインインポートに対応！自分好みのデザインに「着せ替え」できる
              </p>
            </a>
          </li>
        </ul>
      </div>
      <div class="footerCont">
        <h3>
          TAG
        </h3>
        <ul class="tagLists">
          <li>
            <a href="">SEO</a>
          </li>
          <li>
            <a href="">Wordpress</a>
          </li>
          <li>
            <a href="">おすすめ機能</a>
          </li>
          <li>
            <a href="">SEO</a>
          </li>
          <li>
            <a href="">SEO</a>
          </li>
          <li>
            <a href="">SEO</a>
          </li>
        </ul>
        
      </div>

    </div>
    <div class="copyRight">
      &copy;2017-2020 KM Demo Site 4
    </div>
  </footer>
  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/index.js"></script>
</body>