<%
  var localmeta = {
    title: 'サイトタイトルです',
    desc: 'ここでサイト説明文を記入します'
  };
%>

<% const url = "https://designsupply-web.com/knowledgeside/5907/" %>

<%- include('./_header', {meta: localmeta}) %>

<main class="main">
  <div class="inner">
    <div class="mainCont">
      <ul class="cardList">
        <li>
          <a href="">
            <div class="cardThumb">
              <img src="img/shutterstock_377522251-1280x720.jpg" alt="">
              <div class="tag">
                KMのデザイン
              </div>
            </div>
            <div class="cardText">
              <p>KMはデザインインポートに対応！自分好みのデザインに「着せ替え」できる</p>
              <p class="date alignRight">
                2月 27, 2018
              </p>
            </div> 
          </a>
        </li>
        <li>
          <a href="">
            <div class="cardThumb">
              <img src="img/shutterstock_377522251-1280x720.jpg" alt="">
              <div class="tag">
                KMのデザイン
              </div>
            </div>
            <div class="cardText">
              <p>KMはデザインインポートに対応！自分好みのデザインに「着せ替え」できる</p>
              <p class="date alignRight">
                2月 27, 2018
              </p>
            </div> 
          </a>
        </li>
        <li>
          <a href="">
            <div class="cardThumb">
              <img src="img/shutterstock_377522251-1280x720.jpg" alt="">
              <div class="tag">
                KMのデザイン
              </div>
            </div>
            <div class="cardText">
              <p>KMはデザインインポートに対応！自分好みのデザインに「着せ替え」できる</p>
              <p class="date alignRight">
                2月 27, 2018
              </p>
            </div> 
          </a>
        </li>
        <li>
          <a href="">
            <div class="cardThumb">
              <img src="img/shutterstock_377522251-1280x720.jpg" alt="">
              <div class="tag">
                KMのデザイン
              </div>
            </div>
            <div class="cardText">
              <p>KMはデザインインポートに対応！自分好みのデザインに「着せ替え」できる</p>
              <p class="date alignRight">
                2月 27, 2018
              </p>
            </div> 
          </a>
        </li>
        <li>
          <a href="">
            <div class="cardThumb">
              <img src="img/shutterstock_377522251-1280x720.jpg" alt="">
              <div class="tag">
                KMのデザイン
              </div>
            </div>
            <div class="cardText">
              <p>KMはデザインインポートに対応！自分好みのデザインに「着せ替え」できる</p>
              <p class="date alignRight">
                2月 27, 2018
              </p>
            </div> 
          </a>
        </li>
        <li>
          <a href="">
            <div class="cardThumb">
              <img src="img/shutterstock_377522251-1280x720.jpg" alt="">
              <div class="tag">
                KMのデザイン
              </div>
            </div>
            <div class="cardText">
              <p>KMはデザインインポートに対応！自分好みのデザインに「着せ替え」できる</p>
              <p class="date alignRight">
                2月 27, 2018
              </p>
            </div> 
          </a>
        </li>
        <li>
          <a href="">
            <div class="cardThumb">
              <img src="img/shutterstock_377522251-1280x720.jpg" alt="">
              <div class="tag">
                KMのデザイン
              </div>
            </div>
            <div class="cardText">
              <p>KMはデザインインポートに対応！自分好みのデザインに「着せ替え」できる</p>
              <p class="date alignRight">
                2月 27, 2018
              </p>
            </div> 
          </a>
        </li>
        <li>
          <a href="">
            <div class="cardThumb">
              <img src="img/shutterstock_377522251-1280x720.jpg" alt="">
              <div class="tag">
                KMのデザイン
              </div>
            </div>
            <div class="cardText">
              <p>KMはデザインインポートに対応！自分好みのデザインに「着せ替え」できる</p>
              <p class="date alignRight">
                2月 27, 2018
              </p>
            </div> 
          </a>
        </li>
        <li>
          <a href="">
            <div class="cardThumb">
              <img src="img/shutterstock_377522251-1280x720.jpg" alt="">
              <div class="tag">
                KMのデザイン
              </div>
            </div>
            <div class="cardText">
              <p>KMはデザインインポートに対応！自分好みのデザインに「着せ替え」できる</p>
              <p class="date alignRight">
                2月 27, 2018
              </p>
            </div> 
          </a>
        </li>
        <li>
          <a href="">
            <div class="cardThumb">
              <img src="img/shutterstock_377522251-1280x720.jpg" alt="">
              <div class="tag">
                KMのデザイン
              </div>
            </div>
            <div class="cardText">
              <p>KMはデザインインポートに対応！自分好みのデザインに「着せ替え」できる</p>
              <p class="date alignRight">
                2月 27, 2018
              </p>
            </div> 
          </a>
        </li>
        <li>
          <a href="">
            <div class="cardThumb">
              <img src="img/shutterstock_377522251-1280x720.jpg" alt="">
              <div class="tag">
                KMのデザイン
              </div>
            </div>
            <div class="cardText">
              <p>KMはデザインインポートに対応！自分好みのデザインに「着せ替え」できる</p>
              <p class="date alignRight">
                2月 27, 2018
              </p>
            </div> 
          </a>
        </li>
      </ul>

      <ul class="pages">
        <li class="current">
          1
        </li>
        <li>
          <a href="">2</a>
        </li>
      </ul>
    </div>
    <aside class="aside">
      <ul>
        <li class="wpTheme">
          <h2>WordPressテーマ「KM」</h2>
          <img src="img/pc_monitor.png" alt="">
          <p>
            「アフィリエイト」と「SEO」に必要な機能を全て詰め込んだテーマが完成。売れるサイト作りを確実に後押しします。
          </p>
          <a href="" class="btn">
            今すぐダウンロード
          </a>
        </li>
        <li class="profile">
          <h2>WordPressテーマ「KM」</h2>
          <p>
            読む人も、書く人も、すべてを考え抜いたデザインを実現。真の使いやすさを追求したWordPressテーマです。 「アフィリエイト」と「SEO」に必要なものは、すべて詰め込みました。売れるサイト作りを確実に後押しします。
          </p>
          <a href="" class="btn">
            詳しく見る
          </a>
          <div class="snsArea">
            <p>Follow me</p>
            <ul>
              <li>
                <a href=""></a>
              </li>
              <li>
                <a href=""></a>
              </li>
              <li>
                <a href=""></a>
              </li>
              <li>
                <a href="">

                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <h2>RECENT POST</h2>
          <p>
            「アフィリエイト」と「SEO」に必要な機能を全て詰め込んだテーマが完成。売れるサイト作りを確実に後押しします。
          </p>
        </li>
        <li>
          <h2>CATEGORY</h2>
          <form action="">
            <select name="" id="">
              <option value="">KMのエディタ</option>
              <option value="">KMのデザイン</option>
              <option value="">KMの特徴</option>
              <option value="">収益化構造</option>
            </select>
          </form>
        </li>
        <li>
          <h2>TAG</h2>
          <ul class="tagLists">
            <li>
              <a href="">SEO</a>
            </li>
            <li>
              <a href="">Wordpress</a>
            </li>
            <li>
              <a href="">おすすめ機能</a>
            </li>
            <li>
              <a href="">エディタ</a>
            </li>
            <li>
              <a href="">スマホ</a>
            </li>
            <li>
              <a href="">ツール</a>
            </li>
            <li>
              <a href="">デザイン</a>
            </li>
            <li>
              <a href="">ユーザビリティ</a>
            </li>
            <li>
              <a href="">収益化</a>
            </li>
            <li>
              <a href="">広告</a>
            </li>
          </ul>
        </li>
        <li>
          <h2>SEARCH</h2>
          <form action="">
            <input type="text">
          </form>
        </li>
        <li>
          <h2>RECOMMEND</h2>
        </li>
      </ul>
    </aside>
  </div>
</main>

<%- include('./_footer', {meta: localmeta}) %>
